@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: bold;
  src: local('advadhhv'), url(../fonts/Orbitron/Orbitron-Black.ttf) format('truetype')
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 100;
  src: local('advadhhv'), url(../fonts/Orbitron/Orbitron-Regular.ttf) format('truetype')
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f4f2ee;
  background-image: url(../images/bg.jpg);
  color: #8c8c8c;
  font-family: sans-serif;
}

.conteiner {
  max-width: 960px;
  min-width: 320px;
  margin: auto;
  padding: 30px 10px;
}

/*--------------------*/
header {
	padding: 0px 0px 15px;
}
.menu {
  text-align: right;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
}

.my-name {
  float: left;
}

.my-name__name {
  color: #d14343;
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 5px;
  font-weight: 100;
}

.my-name__portfolio {
  font-size: 25px;
  color: #bebebe;
  text-transform: uppercase;
  text-shadow: 0.1px 0.4px 1px #d14343;
}

.menu__icon {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer;
}

.menu__icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #8c8c8c;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
  top: 0px;
}

.menu__icon span:nth-child(2),
.menu__icon span:nth-child(3) {
  top: 13px;
}

.menu__icon span:nth-child(4) {
  top: 26px;
}

.menu__links-item {
  display: inline-block;
  color: #bebebe;
  font-family: Arial;
  font-size: 14px;
  line-height: 30px;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
}

.menu_active {
  color: #7c7c7c;
  text-decoration: underline;
}

.menu__links-item:hover {
  color: #8c8c8c;
}

.menu.menu_state_open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
  transform: rotate(45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(3) {
  transform: rotate(-45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__links {
  display: block;
}

@media screen and (max-width: 800px) {
  .menu__icon {
    display: inline-block;
  }
  .menu__links {
    position: relative;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: auto;
  }
  .menu__links-item {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #8c8c8c;
  }
  .menu__links-item:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
  }
  .menu__links-item:active {
    color: #d14343;
  }
  .footer {
    display: flex;
    justify-content: center;
  }
  .footer__content {
    display: none;
  }
  .footer__social {
    margin: 7px;
  }
}
/*Work Content*/

.work-content {
	padding: 40px 0;
}

.work-block {
	display: flex;
	flex-flow: row wrap;
	padding-bottom: 20px;
}

.work-images {
	flex: 2 1 600px;
	height: 300px;
	padding: 5px;
}
.images--bg-1 {
	height: 100%;
	background-image: url(../images/Article.jp);
	overflow-y: scroll;
	background-size: ;
	background-position: 110px -10px;
}
.images--bg-1 img {
	width: 100%;
}
.work-description {
	flex: 1 1 300px;
	height: 150px;
	padding: 15px;
	align-self: flex-end;
	font-family: 'Orbitron';
	color: #d14343;
	font-size: 20px;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
}
.work--title {
/*	------  */
}
.work--text {
	padding: 5px 0 25px;
	font-size: 15px;
	color: #8c8c8c;
	font-family: serif;
}
.work-btn {
	padding: 10px 15px;
	border: 1px solid #d14343;
	border-radius: 3px;
}
.btn--bg {
	color: #fff;
	background-color: #d14343;
}
.work-btn:hover {
	color: #fff;
	background-color: #d14343;
}
.btn--bg:hover {
	background-color: firebrick;
}














/*Footer*/

.footer {
  border-top: 5px solid #dfdedc;
  margin: 20px 0;
}

.footer__content {
  float: left;
  padding: 17px 10px;
  font-family: 'Orbitron';
}

.footer__social {
  float: right;
  padding: 10px;
}

.footer__social div {
  float: left;
  margin-left: 10px;
  height: 35px;
  width: 35px;
  background-image: url(../images/social-3.jpg);
  background-size: 220px;
  border-radius: 50%;
}

.social--facebook {
  background-position: -93px -30px;
}

.social--vk {
  background-position: -93px -148px;
}

.social--You-tube {
  background-position: -12px -148px;
}

.social--twitter {
  background-position: -13px -30px;
}
